/* .toggle.btn {
    min-height: 20px !important;
    height:20px !important;
    width: 40px !important;
} */

.toggle-on {
    top: -5px;
}
.toggle-off {
    top: -5px;
}

/* .toggle-handle {
    top: -3px;
} */


.statusDevice {
  border-radius: 10px;
  font-size: 18px;
  width: 57px;
}
